<a href="https://colab.research.google.com/github/bcorr24/Final-Project-Data-301/blob/master/Data_Cleaning_and_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data Collection

In [0]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import time

In [0]:
#import the mvp url and pass through beautiful soup
import requests
response = requests.get("https://www.basketball-reference.com/awards/mvp.html")
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")
tables = soup.find_all("table")

In [3]:
#run through tables and web scrape the mvp table
rows = []
for i in [0,1]:
  for faculty in tables[i].find_all("tr")[2:]:
    # Get all the cells in the row.
    stats = faculty.find_all("td")
    seasons = faculty.find_all("a")

    #get each variable
    name = seasons[2].text
    season = seasons[0].text
    team = seasons[4].text

    age = stats[3].text
    games = stats[5].text
    MP = stats[6].text
    PTS= stats[7].text	
    TRB= stats[8].text	
    AST= stats[9].text
    STL=stats[10].text	
    BLK=stats[11].text	
    FG=stats[12].text	
    three= stats[13].text	
    FT=stats[14].text	
    WS=stats[15].text	
    WSpergame= stats[16].text
    
    # Append this data.
    rows.append({
        "Season":season,
        "Player":name,
        "Team":team,
        "Age":age,	
        "games_played":games,	
        "mpg":MP	,
        "ppg":PTS,
        "rpg":TRB,
        "apg":AST,
        "spg":STL,
        "bpg":BLK,
        "FG%":FG,
        "3%":three,
        "FT%":FT,
        "WS":WS,
        "WSpg":WSpergame
    })
#put into a dataframe
df_mvp = pd.DataFrame(rows)
df_mvp.head(10)

    Season                 Player Team Age  ...    3%   FT%    WS  WSpg
0  2018-19  Giannis Antetokounmpo  MIL  24  ...  .256  .729  14.4  .292
1  2017-18           James Harden  HOU  28  ...  .367  .858  15.4  .289
2  2016-17      Russell Westbrook  OKC  28  ...  .343  .845  13.1  .224
3  2015-16          Stephen Curry  GSW  27  ...  .454  .908  17.9  .318
4  2014-15          Stephen Curry  GSW  26  ...  .443  .914  15.7  .288
5  2013-14           Kevin Durant  OKC  25  ...  .391  .873  19.2  .295
6  2012-13           LeBron James  MIA  28  ...  .406  .753  19.3  .322
7  2011-12           LeBron James  MIA  27  ...  .362  .771  14.5  .298
8  2010-11           Derrick Rose  CHI  22  ...  .332  .858  13.1  .208
9  2009-10           LeBron James  CLE  25  ...  .333  .767  18.5  .299

[10 rows x 16 columns]

In [0]:
#web scraping set up for allstars
url = "https://www.basketball-reference.com/awards/all_star_by_player.html"
import requests
response = requests.get(url)
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")
tables = soup.find_all("table")

In [0]:
#get the url from each all star webpage in order to scrap for their stats
names=[]
new= []
for faculty in tables[0].find_all("tr")[1:]:
    # Get all the cells in the row.
    row = faculty.find_all("td")

    name = row[1].text
    url =row[1].find_all('a', href=True)[0]['href']


    # Append this data.
    names.append(name)
    new.append(url)
urls= []
for i in new:
  url = "https://www.basketball-reference.com" + i
  urls.append(url)

In [0]:
#for each url scrape players for stats

#p.s. takes almost 3 min to run

#intialize df
all_stars = pd.DataFrame()

#iterate through urls
for i in range(len(urls)):
  #set up web scraping
  response = requests.get(urls[i])
  soup = BeautifulSoup(response.content, "html.parser")
  tables = soup.find_all("table")
  new= tables[0].find_all("tr")[1:]
  rows=[]
  for faculty in new:
    #look only at those who were mvp's (had a star by their name)
    if faculty.find("span"):
      stats = faculty.find_all("td")
      seasons = faculty.find_all("a")

      #some of the tables were set up in different ways so i had to make clauses
      if len(faculty)<28:

        season = seasons[0].text
        team = seasons[1].text

        age = stats[0].text
        position = stats[3].text
        games = stats[4].text
        MP = stats[6].text
        PTS= stats[-1].text	
        TRB= stats[15].text	
        AST= stats[16].text
        if len(stats)>18:         
          STL=stats[17].text	
          BLK=stats[18].text	
        else:
          STL=''
          BLK=''
        if len(stats)<=17:
          TRB= stats[14].text	
          AST= stats[15].text


        FG=stats[9].text	
        three= ""	
        FT=stats[12].text	

      else:
        season = seasons[0].text
        team = seasons[1].text

        age = stats[0].text
        position = stats[3].text
        games = stats[4].text
        MP = stats[6].text
        PTS= stats[-1].text	
        TRB= stats[22].text	
        AST= stats[23].text
        STL=stats[24].text	
        BLK=stats[25].text	
        FG=stats[9].text	
        three= stats[12].text	
        FT=stats[19].text	
    
      # After getting all the correct variables, append to rows.
      rows.append({
        "Season":season,
        "Player":names[i],
        "Position":position,
        "Team":team,
        "Age":age,	
        "games_played":games,	
        "mpg":MP	,
        "ppg":PTS,
        "rpg":TRB,
        "apg":AST,
        "spg":STL,
        "bpg":BLK,
        "FG%":FG,
        "3%":three,
        "FT%":FT
      })
      #make a data frame of the new all star and append it to the all star df
      all_stars = pd.concat([all_stars, pd.DataFrame(rows)], ignore_index=True)

In [7]:
all_stars

       Season               Player Position Team  ...  bpg   FG%    3%   FT%
0     1969-70  Kareem Abdul-Jabbar        C  MIL  ...       .518        .653
1     1969-70  Kareem Abdul-Jabbar        C  MIL  ...       .518        .653
2     1970-71  Kareem Abdul-Jabbar        C  MIL  ...       .577        .690
3     1969-70  Kareem Abdul-Jabbar        C  MIL  ...       .518        .653
4     1970-71  Kareem Abdul-Jabbar        C  MIL  ...       .577        .690
...       ...                  ...      ...  ...  ...  ...   ...   ...   ...
7932  2008-09          Mo Williams       PG  CLE  ...  0.1  .467  .436  .912
7933  1991-92         Kevin Willis       PF  ATL  ...  0.7  .483  .162  .804
7934  2003-04    Metta World Peace       SF  IND  ...  0.7  .421  .310  .733
7935  2019-20           Trae Young       PG  ATL  ...  0.1  .437  .361  .860
7936  1951-52        Max Zaslofsky       SG  NYK  ...       .336        .755

[7937 rows x 15 columns]

##Data Cleaning

In [0]:
#some had duplicates
all_stars = all_stars.drop_duplicates(keep="first")

In [0]:
#Some of the players had played for 2 teams in one season so i wanted to 
#combine them into one season with averages

#first I created a df with only those who had 2 teams in one season
diff_teams = all_stars[all_stars.duplicated(subset=["Season", "Player"],
                                            keep=False)]
diff_teams = diff_teams[diff_teams["Team"] != ("NBA")]
diff_teams = diff_teams[diff_teams["Team"] != ("ABA")]
diff_teams = diff_teams.reset_index()
#make quantitative variables
diff_teams[["games_played", "mpg",	"ppg",	"rpg",	"apg",	"spg",	"bpg",	
            "FG%",	"3%",	"FT%"]] = diff_teams[["games_played", "mpg",
                        "ppg",	"rpg",	"apg",	"spg",
                        "bpg",	"FG%",	"3%",	"FT%"]].apply(pd.to_numeric, 
                                                      errors='coerce', axis=1)

#iterate through and get averages of the two by games played and make variables
L=[]
for i in range(0,len(diff_teams),2):
  Player = diff_teams.iloc[i]['Player']
  Season = diff_teams.iloc[i]['Season']
  Position = diff_teams.iloc[i]['Position']
  team = diff_teams.iloc[i]['Team'] + "/" + diff_teams.iloc[i+1]['Team']
  age = diff_teams.iloc[i]['Age']

  g1= diff_teams.iloc[i]['games_played']
  g2= diff_teams.iloc[i+1]['games_played']


  games = diff_teams.iloc[i]['games_played'] + diff_teams.iloc[i+1
                                                               ]['games_played']
  MP = (g1 * diff_teams.iloc[i]['mpg'] + g2*diff_teams.iloc[i]['mpg'])/games
  PTS = (g1 *diff_teams.iloc[i]['ppg'] + g2*diff_teams.iloc[i]['ppg'])/games
  TRB = (g1 *diff_teams.iloc[i]['rpg'] + g2*diff_teams.iloc[i]['rpg'])/games
  AST = (g1 *diff_teams.iloc[i]['apg'] + g2*diff_teams.iloc[i]['apg'])/games
  STL = (g1 *diff_teams.iloc[i]['spg'] + g2*diff_teams.iloc[i]['spg'])/games
  BLK = (g1 *diff_teams.iloc[i]['bpg'] + g2*diff_teams.iloc[i]['bpg'])/games
  FG = (g1 *diff_teams.iloc[i]['FG%'] + g2*diff_teams.iloc[i]['FG%'])/games
  three = (g1 *diff_teams.iloc[i]['3%'] + g2*diff_teams.iloc[i]['3%'])/games
  FT = (g1 *diff_teams.iloc[i]['FT%'] + g2*diff_teams.iloc[i]['FT%'])/games


  diff_teams.iloc[i+1]['Player']

  L.append({
        "Season":season,
        "Player":Player,
        "Position":Position,
        "Team":team,
        "Age":age,	
        "games_played":games,	
        "mpg":MP	,
        "ppg":PTS,
        "rpg":TRB,
        "apg":AST,
        "spg":STL,
        "bpg":BLK,
        "FG%":FG,
        "3%":three,
        "FT%":FT

  })

#make it a data frame
duplicates =pd.DataFrame(L)

In [0]:
#drop all the duplicates and concat the new df to the old all stars
all_stars = all_stars.drop_duplicates(subset=["Season", "Player"],keep=False)
all_stars = pd.concat([all_stars, duplicates], ignore_index=True, sort = False)

In [0]:
#adding mvp dummy variable to playes who won using my mvp df
mvp_seasons = []
for i in range(len(df_mvp)):
  play = df_mvp.iloc[i]["Player"]
  seas = df_mvp.iloc[i]["Season"]
  mvp_seasons.append((play,seas))

mvps_list = [] 
for i in range(len(all_stars)):
  play = all_stars.iloc[i]["Player"]
  seas = all_stars.iloc[i]["Season"]
  if (play, seas) in mvp_seasons:
    mvps_list.append(1)
  else:
    mvps_list.append(0)

#make it a new column
all_stars["MVP"] = mvps_list

In [12]:
from google.colab import drive
drive.mount('/content/gdrive')
all_stars.to_csv('full_data.csv', index=False)
!cp full_data.csv "/content/gdrive/My Drive/"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
from google.colab import drive
full_data = pd.read_csv('/content/gdrive/My Drive/full_data.csv')

In [14]:
full_data

       Season               Player Position     Team  ...    FG%     3%    FT%  MVP
0     1969-70  Kareem Abdul-Jabbar        C      MIL  ...  0.518    NaN  0.653    0
1     1970-71  Kareem Abdul-Jabbar        C      MIL  ...  0.577    NaN  0.690    1
2     1971-72  Kareem Abdul-Jabbar        C      MIL  ...  0.574    NaN  0.689    1
3     1972-73  Kareem Abdul-Jabbar        C      MIL  ...  0.554    NaN  0.713    0
4     1973-74  Kareem Abdul-Jabbar        C      MIL  ...  0.539    NaN  0.702    1
...       ...                  ...      ...      ...  ...    ...    ...    ...  ...
1885  1951-52        Chris Gatling       PF  DAL/NJN  ...  0.533  0.167  0.706    0
1886  1951-52           Gus Gerard       SF  SSL/DNA  ...  0.380  0.500  0.800    0
1887  1951-52         Ricky Pierce       SG  MIL/SEA  ...  0.499  0.398  0.907    0
1888  1951-52            Jim Price       PG  LAL/MIL  ...  0.449    NaN  0.911    0
1889  1951-52      Willie Somerset       PG  HSM/NYA  ...  0.395  0.227  0.836    0

[1890 rows x 16 columns]